<div class="main">
  <div class="navbar">
    <ul class="sidenav-m3">
      <li class="title">Financial Control</li>
      <li class="active">
        <a routerLink="/home">
          <span class="mif-home icon"> </span>Dashboard
        </a>
      </li>
      <li class="stick-right bg-green">
        <a class="dropdown-toggle" href="#">
          <span class="mif-money icon"></span>
          Rendas
        </a>
        <ul class="d-menu" data-role="dropdown" style="display: none">
          <li>
            <a href="#">
              <span class="mif-plus icon fg-green"></span>
              Cadastrar
            </a>
          </li>
          <li>
            <a href="#">
              <span class="mif-list2 icon fg-green"></span>
              Listar
            </a>
          </li>
        </ul>
      </li>
      <li class="stick-right bg-cyan">
        <a class="dropdown-toggle" href="#">
          <span class="mif-users icon"></span>
          Favorecidos
        </a>
        <ul class="d-menu" data-role="dropdown" style="display: none">
          <li>
            <a routerLink="favorecido/cadastrar">
              <span class="mif-plus icon fg-cyan"></span>
              Cadastrar
            </a>
          </li>
          <li>
            <a href="#">
              <span class="mif-list2 icon fg-cyan"></span>
              Listar
            </a>
          </li>
        </ul>
      </li>
      <li class="stick-right bg-red">
        <a class="dropdown-toggle" href="#">
          <span class="mif-minus icon"></span>
          Contas
        </a>
        <ul class="d-menu" data-role="dropdown" style="display: none">
          <li>
            <a href="#">
              <span class="mif-plus icon fg-red"></span>
              Cadastrar
            </a>
          </li>
          <li>
            <a href="#">
              <span class="mif-list2 icon fg-red"></span>
              Listar
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
